@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600&family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;700&display=swap');
:root{
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 66%);
    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    background-color:var(--Dark-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}
.container{
    background-color:var(--Dark-Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    min-width:300px;
    max-width:500px;
    max-height: fit-content;
    border-radius: 20px;
    padding: 2rem;
}
.container .pattern .line{
    width:100%;
}
.container .advice p{
    color:var(--Neon-Green);
    font-weight: bolder;
    letter-spacing: 5px;
    text-align: center;
}

.container .message h1{
    color:var(--Light-Cyan);
    text-align: center;
    padding-bottom: 5%;
}
body .dice{
    background-color: var(--Neon-Green);
    padding: 10px;
    width:50px;
    border-radius: 50%;
    position: relative;
    top: 60px;
    cursor: pointer;
}
body .dice:hover{
    animation: glow 0.5s infinite alternate;
}
body .dice .btn{
    cursor: pointer;
}
@keyframes glow {
    0% {
      box-shadow: 0 0 10px #00ff00; /* Start with a green glow */
    }
    100% {
      box-shadow: 0 0 20px #00ff00; /* Increase the glow */
    }
  }
@media only screen and (max-width: 425px) {
    .container{
        background-color:var(--Dark-Grayish-Blue);
        display: flex;
        flex-direction: column;
        gap:1rem;
        min-width:300px;
        max-width:500px;
        max-height: fit-content;
        border-radius: 20px;
        padding: 2rem;
    }
}


